
    <h1>@ViewBag.Message</h1>
    <h3>Additional message without view bag !!</h3>

    <h3>The razor syntax check</h3>
    <ul>
    @for(int i = 1; i <=5; i++) {
        <li>Counter is @i</li>
    }
    </ul>
    <span>Greet ASP.NET Core : <input type="button" onclick="greet()" value="Greet!" /> </span>
    
